---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Video from "../components/Video.astro";
import Footer from "../components/Footer.astro";
import Form from "../components/Form.astro";
import Stats from "../components/Stats.astro";
import Money from "../components/Money.astro";
import Historie from "../components/Historie.astro";
---

<Layout>
  <Header />
  <Video />
  <main>
    <img src="/img/herobillede.png" alt="" />
  </main>
  <Form />
  <Stats />
  <Money />
  <Historie />
  <Footer />
</Layout>

<style>
  img {
    max-width: 100%;
    margin-top: 0;
  }
</style>
