---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Video from "../components/Video.astro";
import Footer from "../components/Footer.astro";
import Form from "../components/Form.astro";
import Stats from "../components/Stats.astro";
import Cards from "../components/Cards.astro";
import Money from "../components/Money.astro";
import Historie from "../components/Historie.astro";
---

<Layout>
  <Header />
  <Video />
  <main>
    <img class="hero" src="/img/herobillede.png" alt="" />
  </main>
  <Form />
  <Stats />
  <section class="cards">
    <Cards
      billede="sms.png"
      beskrivelse="Send en SMS til 2200 med teksten STØT (koster 100 kr.)"
      altText="speechbubble ikon"
    />
    <Cards
      billede="mobilepay.png"
      beskrivelse="Send et valgrit beløb på Mobilepay til 20202020 eller"
      link=" klik her"
      altText="telefon ikon"
    />
    <Cards
      billede="netbank.png"
      beskrivelse="Overfør et bidrag via Netbank til: Reg: 2222 Konto: 292 292929"
      altText="telefon ikon"
    />
  </section>
  <Money />
  <Historie />
  <Footer />
</Layout>

<style>
  .hero {
    max-width: 100%;
    margin-top: 0;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    padding: 20px;
    margin: 5rem 11rem;
  }
</style>
