<header>
  <nav>
    <a class="weshelter" href="">WeShelter</a>
    <ul>
      <li><a href="">Få hjælp</a></li>
      <li><a href="">Bliv frivillig</a></li>
      <li><a href="">Om</a></li>
      <li><a href="">Støt</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    height: 100vh;
    /* height: calc(100vh / 2.5); */
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    display: flex;
    position: relative;
    padding: 15px;
    list-style: none;
    justify-content: end;
  }

  li {
    padding: 20px;
  }

  a {
    text-decoration: none;
    color: white;
    font-family:;
  }

  .weshelter {
    /* position: relative;
    display: flex;
    right: 800px; */
    font-size: 40px;
    font-weight: 700;
  }
</style>
