---
import Lottiefiles from "./Lottiefiles.astro";
---

<section class="penge">
  <div>
    <h2>Sådan bruger vi dine penge</h2>
    <p>
      Når du støtter WeShelter, er du med til at gøre en direkte forskel for
      hjemløse og udsatte mennesker i Danmark. Over 85 % af dine donationer går
      direkte til indsatsen – resten dækker administration og udvikling for at
      gøre endnu mere muligt.
    </p>
  </div>
  <Lottiefiles
    src="https://lottie.host/bdf69bb5-7f3c-4a3a-8955-de8457644d0d/Zbr0q2LLL3.lottie"
    <
    section
  />
</section>
