<section>
  <article class="stats">
    <div class="text">
      <h2>Tal der taler for sig selv</h2>
      <p>
        Vi har tal, der presser os til at yde vores bedste og sørge for, at vi
        slår vores egne rekorder. Vi er glade for at vokse og hjælpe mere dag
        for dag.
      </p>
    </div>
  </article>
  <article class="quickdonate"></article>
</section>

<style>
  section {
    display: flex;
    flex-direction: row;
  }
</style>
